@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-dark-bg2 text-dark-text;
  -webkit-font-smoothing: antialiased;
}

/* images */
* > img {
  user-select: none;
  pointer-events: none;
}

.drag {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}
